<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Analysis</title>
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/dc0460d8c0.js" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="style.css">
    </head>
    <body>
    <!-- header -->
         <header>
             <div class = "nav"> <!-- Navigation on top -->
                 <div class = "container"> <!-- Bootstrap Container, so the logo and nav is centered -->
                    <div class = "logo-wrapper"> <!--Logo with Name-->
                      <i class="fa-light fa-coin-vertical"></i>
                        <p>MJS&sup2</p>
                    </div>
                    <nav>
                        <ul> <!-- nav, to go to budget or login again -->
                            <li><a class="left" href="../budget/index.html">Budgets</a></li>
                            <li><a class="right" href="../login/index.html">Logout</a></li>
                        </ul>
                    </nav>
                 </div>
             </div>
         </header>
          <main>
              <div class = "budget-name">
                  <div class="container">
                      <div class="col-md-4 col-md-offset-4">
                        <h3 id="budget-title">Projekt MJS&sup2</h3>
                      </div>
                  </div>
              </div>
                  <div class="container">
                      <div class="switch-spending-forecast">
                          <input type="button" name="answer" value="cost" onclick="showcost()" />
                          <input type="button" name="answer" value="forecast" onclick="showforecast()" />
                      </div>
                  </div>
              <section class="main">
                  <div class = "container">
                      <div class = "row">
                          <div class = "col-md-6">
                              <div class = cost>
                                  <!--Container hat als Child die Divs mit den Kosten drin-->
                                  <div class="list-wrapper">
                                      <div id = "list-spending">

                                      </div>
                                      <!--Container hat als Child die Divs mit den Forecasts drin-->
                                      <div id = "list-forecast"></div>
                                  </div>
                              </div>
                          </div>
                          <!--Balkendiagramm-->
                          <div class="col-md-6 diagram">
                              <div class = "chart">
                                  <div class = "chart-spending">
                                      <h3>Kosten</h3>
                                      <div id="chart-spending-value"></div>
                                  </div>
                                  <div class = "chart-forecast">
                                      <h3>Forecast</h3>
                                      <div id="chart-forecast-value"></div>
                                  </div>
                                  <div class = "chart-budget">
                                      <h3>Budget</h3>
                                      <div id="chart-budget-value"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!--Eingabe der neuen Kosten-->
              <section class="output-input">
                  <div class="container">
                      <div class="col-md-6">
                          <!--Keine Eingabe von Datum, heutiges Datum wird genommen-->
                          <form onsubmit="addEntry(event)">
                              <label for="text-spending-name"></label><input type="text" id="text-spending-name" name="input-spending-name" placeholder="Name" minlength="1" maxlength="20" required>
                              <label for="text-spending"></label><input type="number" id="text-spending" name="input-spending" placeholder="Höhe" minlength="1" maxlength="20" required>
                            <label for="category"></label>
                            <select id="category" name = "dropdown">
                                <option value="Cost">Kategorie auswählen</option>
                                <option value = "Cost">Cost</option>
                                <option value = "Forecast">Forecast</option>
                            </select>
                            <button class="eingabe" type="submit">Submit</button>
                        </form>
                      </div>
                  </div>
            </section>
              <dialog id="modal">
                  <h3>Update</h3>
                  <form class="form" method="dialog" onsubmit="updateEntry(event)">
                      <label for="text-spending-name1"></label><input type="text" id="text-spending-name1" name="input-spending-name" placeholder="Name" minlength="1" maxlength="20" required>
                      <label for="text-spending1"></label><input type="number" id="text-spending1" name="input-spending" placeholder="Höhe" minlength="1" maxlength="20" required>
                      <label for="category1">
                          <select id="category1" name = "dropdown">
                              <option value="Cost">Kategorie auswählen</option>
                              <option value = "Cost">Cost</option>
                              <option value = "Forecast">Forecast</option>
                          </select>
                      </label>
                      <button class="eingabe1" type="submit">Submit</button>
                  </form>
              </dialog>
        </main>
    </body>
 <script src="script.js"></script>
</html>