<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/dc0460d8c0.js" crossorigin="anonymous"></script>
    </head>
    <body>
            <div class = "container"> <!-- Bootstrap Container, so the logo and nav is centered -->
                <div class = "logo-wrapper"> <!-- Logo with Name-->
                    <i class="fa-light fa-coin-vertical"></i>
                    <p>MJS&sup2</p>
                </div>
            <div class="login-box">
                <h2>Login</h2>
                <form>
                    <div class="user-box">
                        <input type="text" name="" required="" placeholder="Username">
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="" placeholder="Password">
                    </div>
                    <div class="button-form btn">
                        <div class="submit-wrapper">
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                        <div id="register">
                            Don't have an account?
                            <a href="#"> Register</a>
                        </div>
                    </div>
                </form>
            </div>
            </div>
    </body>
</html>