<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Budget_Selection</title>
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/dc0460d8c0.js" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class = "nav"> <!-- Navigation on top -->
                <div class = "container"> <!-- Bootstrap Container, so the logo and nav is centered -->
                    <div class = "logo-wrapper"> <!-- Logo with Name-->
                        <i class="fa-light fa-coin-vertical"></i>
                        <p>MJS&sup2</p>
                    </div>
                    <nav>
                        <ul> <!-- nav, to go to budget or login again -->
                            <li><a class="right" href="../login/index.html">Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header> <!--Strich drunter ziehen-->
        <main>
            <div id ="budget-bubbles">
            </div>
        </main>
    </body>
    <script src="script.js"></script>
</html>